.container {
  display: -webkit-flex;
  display: flex;
  flex-direction:column;
}

.container div {
  margin: 10px 2px;
}

.grid {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.grid div {
  padding: 10px 10px;
  flex: 1 0 100px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
}

.table {
  display: -webkit-flex;
  display: flex;
  flex-flow: column; nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: stretch;
  padding-top: 10px;
}

.table div {
  vertical-align: middle;
  border-radius: 4px;
}

.table label{
  text-align: center;
  vertical-align: middle;
  font-size: 150%;
  font-weight: bold;
  color: #369;
}

.table-index{
  padding: 10px 10px;
  background-color: #369;
  color: #fff;
  border-radius: 4px;
}

.table-item{
  padding: 10px 0px;
  padding-right: 10px;
  background-color: #eee;
  color: #444;
  border-radius: 4px;
}

.item{
  background-color: #369;
  color: #fff;
}

.selected {
  background-color: #CFD8DC;
  color: #039be5;
}

.input input {
  font-size: 250%;
  border: none;
  font-weight: bold;
  color:#369;
}

.input label {
  font-size: 150%;
  border: none;
  font-weight: bold;
  color:#888;
}

button{
  margin-top: 10px;
  padding: 10px 10px;
  background-color:#369;
  color: white;
  border:none;
  font-size: 100%
}

@media (max-width: 500px) {
  .container {
    font-size: 80%;
  }
  .input {
    font-size: 80%;
  }
}
