<div class="container">
  <div class="input">
    <label>Value: </label>
    <input [(ngModel)]="expense.value" placeholder="Enter value" />
  </div>
  <div class="input">
    <label>Date: </label>
    <input [(ngModel)]="expense.dateAndHour" placeholder="yyyy-MM-dd HH:mm"/>
  </div>
  <div class="grid">
    <div *ngFor="let card of cards"
      [class.selected]="card === selectedCard"
      [class.item]="card !== selectedCard"
      (click)="onSelectCard(card)">
      <span>{{card.name}}</span>
    </div>
  </div>
  <div>
    <a [routerLink]="['/cards']" routerLinkActive="active">Add Card</a>
  </div>
  <div class="grid">
    <div *ngFor="let category of categories"
      [class.selected]="category === selectedCategory"
      [class.item]="category !== selectedCategory"
      (click)="onSelectCategory(category)">
      <span>{{category.name}}</span>
    </div>
  </div>
  <div>
    <a [routerLink]="['/categories']" routerLinkActive="active">Add Category</a>
  </div>
  <div class="error" *ngIf="error">{{error}}</div>
  <button (click)="saveExpense()">ADD EXPENSE</button>
  <div class="table">
    <label>Last Expenses</label>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Value</th>
          <th>Date</th>
          <th>Card</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exp of expenses">
          <td class="table-index">{{exp.expenseId}}</td>
          <td class="table-item">{{exp.value}}</td>
          <td class="table-item">{{exp.dateAndHour}}</td>
          <td class="table-item">{{exp.card.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
